//- Google Tag Manager
noscript
  iframe(src='//www.googletagmanager.com/ns.html?id=GTM-TZKPV8W', height='0', width='0', style='display: none; visibility: hidden;')
//- End Google Tag Manager

.cookies-alert.js-cookies-alert.row
  .col-md-8
    .cookies-alert-body
      p
        | The EOS icons uses cookies to help us learn more about how we can improve the design system.
        br
        a(href='/cookies-policy.html', data-event-category='Internal link', data-event-action='Cookies policy learn more', data-event-label='Cookies alert')
          | Learn more about our cookie policy
  .col-md-4
    .cookies-alert-buttons
      a.btn.btn-secondary.change-preference(href='/cookies-policy.html')
        | Edit preferences
      button.btn.btn-primary.js-cookies-accept
        | Accept