/* Spacing variables
   ========================================================================== */
/**
* Spacing variables used for margins and paddings
*
* $space-base: base size from which the rest of the sizes are calculated
*/
$font-size-body: 14px;
$space-base: 16px;
$eos-18: 18px;
$eos-24: 24px;
$eos-36: 36px;
$eos-48: 48px;

$m: $space-base; // this is the regular size = 16px
$xs: calc($m / 4); // = 4px
$s: calc($m / 2); // = 8px
$l: calc($m + ($m / 2)); // = 24px
$xl: calc($m * 2); // = 32px
$xxl: calc($m * 3); // = 48px
$xxxl: calc($m * 4); // = 64px

$editor-icon-size: $l * 6; //font size for icon preview in Editor window
