@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$font-family: 'Roboto', sans-serif;
$header-font-family: 'Spartan',  sans-serif;
$font-size: 14px;
$font-weight: 300;
$line-height: 1.5em;
$subheadline-font-size: 24px;
$small-font: 10px;
$h1-mobile: 24px;
