/* Footer
   ========================================================================== */
footer {
  background: $footer-background;
  bottom: 0px;
  color: $footer-text-color;
  font-size: $footer-font-size;
  position: fixed;
  width: 100%;
}
