/* Template styles
   ========================================================================== */
body {
  color: $body-text-color;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  padding: 16px;
}

.icons-container {
  margin-top: 120px;
}

.two-columns {
  column-count: 2;
}
