aside.main-menu.mocked-menu.js-main-menu.js-mocked-menu
  .mm-navigation-container
    header
      a.hide-collapsed(href='/')
        img(src='/images/eos-logo.png')
      .mm-navigation-close.js-sidebar-toggle
        i.material-icons
          | menu
    .mocked-nav-wrap.js-mocked-menu-nav-wrap
      ul.mocked-menu-togglable.no-list-style.js-mm-togglable
        li.mocked-menu-item.js-mm-expandable
          a.mocked-menu-title.js-mm-title(href='#js-sub-1', data-toggle='collapse', aria-expanded='false')
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal tools
            i.material-icons.md-18.pull-right.mocked-menu-expand
              | expand_more
          ul#js-sub-1.mocked-menu-sub.js-mm-sub.collapse
            li.mocked-menu-collapsed-title
              | Internal tools
            li
              a(href='')
                | Menu item 1
            li
              a(href='')
                | Menu item 2
            li
              a(href='')
                | Menu item 3
            li
              a(href='')
                | Menu item 4
            li
              a(href='')
                | Menu item 5
            li
              a(href='')
                | Menu item 6
        li.mocked-menu-item.js-mm-expandable
          a.mocked-menu-title.js-mm-title(href='#js-sub-2', data-toggle='collapse', aria-expanded='false')
            i.material-icons
              | whatshot
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal guide
            i.material-icons.md-18.pull-right.mocked-menu-expand
              | expand_more
          ul#js-sub-2.mocked-menu-sub.js-mm-sub.collapse
            li.mocked-menu-collapsed-title
              | Internal guide
            li
              a(href='')
                | Menu item 1
            li
              a(href='')
                | Menu item 2
            li
              a(href='')
                | Menu item 3
            li
              a(href='')
                | Menu item 4
            li
              a(href='')
                | Menu item 5
            li
              a(href='')
                | Menu item 6
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Something else
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | And another item
        li
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Good stuff
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal item
        li.mocked-menu-item.js-mm-expandable
          a.mocked-menu-title.js-mm-title(href='#js-sub-3', data-toggle='collapse', aria-expanded='false')
            i.material-icons
              | whatshot
            strong.mocked-menu-title-content.js-mm-title-content
              | Another expandable
            i.material-icons.md-18.pull-right.mocked-menu-expand
              | expand_more
          ul#js-sub-3.mocked-menu-sub.js-mm-sub.collapse
            li.mocked-menu-collapsed-title
              | Another expandable
            li
              a(href='')
                | Menu item 1
            li
              a(href='')
                | Menu item 2
            li
              a(href='')
                | Menu item 3
            li
              a(href='')
                | Menu item 4
            li
              a(href='')
                | Menu item 5
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal views
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | More important stuff
        li.mocked-menu-item.js-mm-expandable
          a.mocked-menu-title.js-mm-title(href='#js-sub-4', data-toggle='collapse', aria-expanded='false')
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal life
            i.material-icons.md-18.pull-right.mocked-menu-expand
              | expand_more
          ul#js-sub-4.mocked-menu-sub.js-mm-sub.collapse
            li.mocked-menu-collapsed-title
              | Internal life
            li
              a(href='')
                | Menu item 1
            li
              a(href='')
                | Menu item 2
            li
              a(href='')
                | Menu item 3
            li
              a(href='')
                | Menu item 4
            li
              a(href='')
                | Menu item 5
            li
              a(href='')
                | Menu item 6
        li.mocked-menu-item.js-mm-expandable
          a.mocked-menu-title.js-mm-title(href='#js-sub-5', data-toggle='collapse', aria-expanded='false')
            i.material-icons
              | whatshot
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal guide
            i.material-icons.md-18.pull-right.mocked-menu-expand
              | expand_more
          ul#js-sub-5.mocked-menu-sub.js-mm-sub.collapse
            li.mocked-menu-collapsed-title
              | Internal guide
            li
              a(href='')
                | Menu item 1
            li
              a(href='')
                | Menu item 2
            li
              a(href='')
                | Menu item 3
            li
              a(href='')
                | Menu item 4
            li
              a(href='')
                | Menu item 5
            li
              a(href='')
                | Menu item 6
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal tools

        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal tools
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal tools
        li.mocked-menu-item
          a.mocked-menu-title
            i.material-icons
              | build
            strong.mocked-menu-title-content.js-mm-title-content
              | Internal tools
  include ../footer/footer-side-menu.pug
