i {
  padding: 10px;
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  text-align: center;
  background: #f8f8f8;
  border: 1px solid rgb(179, 179, 179);
  margin: 10px;

  &:hover {
    cursor: pointer;
    background: $grad-init;
    color: #fff;
  }
}

.active {
  background: $grad-init;
  color: #fff;
}
