.DS_store
node_modules
npm-debug.log
.vscode/
TODO
vendors/build-landing
# static
assets/javascripts/application-landing.min.js
assets/stylesheets/application-landing.css
assets/stylesheets/application-landing.css.map
dist/
