doctype html
html
  head
    title= 'EOS icons'
    meta(name='description', content= 'EOS icons font. The open source icons to made to extend Material Icons.')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    meta(property='og:title', content='EOS icons')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://eos-icons.eosdesignsystem.com')
    meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1550833469/EOS/Social/eos-design-system.jpg')
    link(rel='stylesheet', href='./vendors/css/vendors.min.css')
    link(rel='stylesheet', href='./assets/css/application.css')
    link(rel='icon', href='./assets/images/landing/favicon.png', type='image/png')
    script(src='./vendors/js/vendors.min.js')
    script(src='./assets/js/application.min.js')
  body
    include ../shared/layout/header.pug
    block content
    include ../shared/layout/footer.pug
    include ../shared/gtm-body.pug
