extends ../layouts/layout

block content
  //- include shared/main-menu.pug
  header.eos-logo-color-gradients
    .container.two-columns
      h1
        img(alt='EOS icons', src='images/logo.png')
        small.version version 2.0.0
      .pull-right.toolbar
        span.text-white Try different sizes: 
        button.change-size(type='button', data-size='18') 18px
        button.change-size(type='button', data-size='24') 24px
        button.change-size(type='button', data-size='36') 36px
        button.change-size(type='button', data-size='48') 48px
  .container.icons-container
    .extended-version-wrap
      a(href='extended/index.html') Extended version
      input.searchbar(onkeyup='searchIcon()', type='text', name='search', placeholder='Search Icons...')
    #icons.js-icons-list
      .icons-item.js-icons-item(data-name='action_chains')
        i.eos-icons.js-eos-icons
        br
        .js-eos-icon-name
    #icons-animated
      h3 Animated icons
      .icons-item(data-name='loading')
        i.eos-icons.eos-icon-loading
        br
        | loading
      .icons-item(data-name='installing')
        i#eos-icon-installing.eos-icons.eos-icon-installing.md-48
        br
        | installing
  .how-to-use
    .container
      h2.text-white
        | How to use it:
        small#close-code-snippet.close-code-snippet.pull-right X Close
      pre.
  .how-to-use-animated
    .container
      h2.text-white
        | How to use it:
        small#close-code-snippet-animated.close-code-snippet.pull-right X Close
      #animatedIconDemo
  .bottom-container
    p  Didn't find what you were looking for?
    div
      a.btn(href='https://gitlab.com/SUSE-UIUX/eos-icons/issues/', target='_blank') Request new icon
  footer
    .container
      | Download from gitlab at 
      a(href='https://gitlab.com/SUSE-UIUX/eos-icons') EOS icons
      | .
      | Thanks to 
      a(href='https://github.com/sapegin/grunt-webfont') grunt-webfont
      | .
  script(src='vendors/js/jquery.min.js')
  script(src='js/get-icons.service.js')
  script(src='js/app.js')
