<!DOCTYPE html>
<html lang="en">
<head>
	<title>EOS Icons Landing Page</title>
	<meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="landing.css">
</head>
<body>

<!------ Navbar ------------------------------------------------------------------------------------>

<nav class="navbar navbar-expand-lg top-gradient navbar-dark border fixed-top">
	<div class="navbar-brand " href="#">
    	<img src="landing/logo.png" width="86" height="35" class="d-inline-block align-top mt-lg-2" alt="">
	</div>
  <a class="navbar-brand" href="#">EOS Icons</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav text-white ml-auto">
       <li class="nav-item active">
         <a class="nav-link border-bottom" href="#">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Cheatsheet</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Customize it</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Features</a>
       </li>
    </ul>
    </div>
</nav>

<!-- header ------------------------------------------------------------------------------------------>

    <div class="header mb-lg-2">
		<div id="content" class=" container text-white img-fluid" alt="Responsive image">
			<h2 class="">Free. Open source. Vector and pixel-perfect icons. The iconic font your product needs.</h2>
		</div>
	</div>


<!-- Open source DNA --------------------------------------------------------------------------------->

<div class="container  text-centre">
  <div class="row mx-auto">
    <h1 class="display-4 d-inline-block pr-lg-5 pt-lg-5 pb-lg-5 pl-lg-5">OPEN<br>SOURCE<br>DNA</h1>
    <div class="fixed-rectangle-inverse rounded mt-lg-5 ml-lg-5 mr-lg-5"></div>
    <div class="col py-3 px-lg-5 pt-lg-5">
    	<h4 class="">EOS icons offers an easily customizable icons for any<br>
        company or project to use. We created guides that are<br>
        adjutable and applicable in any open source project.<br>
        We appreciate your contribution to EOS icons and look<br>
        forward to hearing more about how it helps your<br>
        products and projects</h4>
        <button type="button" class="btn btn-dark btn-lg ml-lg-5 mt-lg-1" >Contribute to EOS Icons </button>
    </div>
  </div>
</div>

<!-- Lot of icons to choose from --------------------------------------------------------------------->

<div class="jumbotron jumbotron-fluid mb-lg-0 bg-jumbotron pb-lg-0">
  <div class="container">
    <h1 class="text-center pb-lg-5 display-4">Lot of Icons to choose from</h1>
    <img src="landing/icons.png" class="d-inline-block pb-lg-5 img-fluid" alt="img-responsive">
  </div>

<!-- CSS animated Icons ------------------------------------------------------------------------------>

<div class="text-center">
	<h1 class="text-center pb-lg-5 pt-lg-5 display-4 ">CSS Animated Icons</h1>
	<div class="card-block pt-lg-5">
      <div class="position-relative d-inline-block" >
		<img src="landing/monitor.png" class="animated-image img-fluid" alt="Responsive image">
		<div class=" animated-icons mt-lg-5 pt-lg-5 ml-lg-4">
        <div class="icons-item" data-name="loading">
          <i class="eos-icons eos-icon-loading"></i>
          <br>
          loading
        </div>

        <div class="icons-item" data-name="in">
          <i class="eos-icons eos-icon-installing md-48" id="eos-icon-installing"></i>
          <br>
          installing
        </div>

      </div>
	</div>

      <h4 class="d-inline-block text-left pl-lg-5">
    	EOS icons offers an easily customizable animated icons. These<br>
        Icons use only CSS animations and nothing more which make<br>
        things a lot easier when using these icons in your own projects.<br>
        Also they run on the GPU so the frame rate is much higher<br>
        than that of Javascript animations. When it comes to CSS<br>
        animations they also have the advantage of not causing<br>
        reflows and redraws unlike modifying elements via<br>
        Javascript would.</h4>
   </div>
  </div>

<!-- A pixel perfect design process ------------------------------------------------------------------->

<div class="text-center">
	<h1 class="text-center pb-lg-5 pt-lg-5 display-4 ">A pixel perfect design process</h1>
	<div class="text-block text-left d-inline-block position-absolute mt-lg-5 pt-lg-5 pl-lg-4">
		<h5>1. Stroke terminal<br>
		    2. Corner<br>
		    3. Counter area<br>
		    4. Stroke<br>
		    5. Counter stroke<br>
		    6. Bounding area</h5>
	  </div>
      <img src="landing/material-icons.png" class="d-inline-block pb-lg-5 mb-lg-5 align-top mx-auto" alt="">
      <div class="d-inline-block">
      <h4 class="d-inline-block text-left pl-lg-1 pt-lg-5 ">
    	EOS icons were made to coexist with material icons. We<br>
        carefully follow material design guidelines which makes<br>
        EOS icons indistinguishable from material Icons.<br>
        Material Design defines the qualities that can be<br>
        expressed by UI regions, surfaces, and components.<br>
        Design and strategize how your app is built using<br>
        foundations that address design from both a broad<br>
        and detailed perspective.</h4>
        <button type="button" class="btn btn-dark btn-lg d-flex mx-auto mt-lg-4">Check out Extended EOS Icons </button>
        </div>
  </div>

<!-- Cheatsheet and new icons request ----------------------------------------------------------------->

<div class="card-group">
  <div class="card bg-cheatsheet">
    <div class="card-body">
      <div class="d-inline-block align-top pt-lg-5 pr-lg-3"><img src="landing/rocket1.png" class="d-inline pl-lg-5" alt=""></div>
      <div class="fixed-rectangle rounded d-inline-block"></div>
      <div class="d-inline-block align-top mx-auto pt-lg-5"><h4 class="text-white  pl-lg-5 ">Do you already know how to put these icons<br>
						   better into practice. We might have some<br>
						   advices for you.</h4>
      <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mt-lg-1 " >Check out Cheatsheet</button></div>
  </div>
</div>
  <div class="card bg-request">
    <div class="card-body">
      <div class="d-inline-block align-top pt-lg-5 pr-lg-3"><img src="landing/rocket2.png" class="d-inline pl-lg-5" alt=""></div>
      <div class="fixed-rectangle rounded d-inline-block"></div>
      <div class="d-inline-block align-top mx-auto pt-lg-5"><h4 class="text-white pl-lg-5 ">Are you working on an open source project and<br>
						   need some icons? We can design them for you<br>
						   and include them in EOS icons.</h4>
	  <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mt-lg-1" >Request new icons</button></div>
    </div>
  </div>
</div>

<!-- Checkout EOS DS ---------------------------------------------------------------------------------->

<div class="container-fluid top-gradient text-white text-center">
  <div class=" d-inline-block text-left ml-lg-5 pl-lg-5">
    <h1>Try EOS Icons with EOS DS</h1>
	<h4>We are a part of EOS Design system and together we work like a charm</h4>
  </div>
  <div class="d-inline-block text-center">
		<button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mb-lg-5" >Check out EOS DS</button>
  </div>
  <div class="col d-inline ml-lg-5">
		<img src="landing/plane.png" class="d-inline-block plane-img" alt="Responsive image">
  </div>
</div>

<!-- Contributors section ----------------------------------------------------------------------------->

<div class="jumbotron jumbotron-fluid bg-jumbotron mb-lg-0 pt-lg-5">
	<h2 class="mb-lg-5 ml-lg-5">Special thanks to all the superheroes that made it happen :</h2>
  <div class="container">
    <span href="https://twitter.com/cyntss" title="Cynthia Sanchez on twitter" target="_blank"><img src="landing/image1.png" class="d-inline pl-lg-5" alt=""></span>
    <span href="https://twitter.com/en3sis" title="Sorin Curescu on twitter" target="_blank"><img src="landing/image2.png" class="d-inline pl-lg-5" alt=""></span>
    <span href="https://twitter.com/manuelecarlini" title="Manuele Carlini on twitter" target="_blank"><img src="landing/image3.png" class="d-inline pl-lg-5" alt=""></span>
    <span href="https://twitter.com/hesusjerman" title="hesus jerman on twitter" target="_blank"><img src="landing/image4.png" class="d-inline pl-lg-5" alt=""></span>
  </div>
  <div class="container mt-lg-2">
  	<h4 class="d-inline ml-lg-5">Cynthia Sanchez</h4>
    <h4 class="d-inline ml-lg-5">Sorin Curescu</h4>
    <h4 class="d-inline ml-lg-5">Manuele Carlini</h4>
    <h4 class="d-inline ml-lg-5 pl-lg-2">hesus jerman</h4>
  </div>
</div>

<!-- Footer section ----------------------------------------------------------------------------------->

  <div class="footer">
		<div id="" class="container text-white text-center pt-lg-5">
			<h1>GET IN TOUCH WITH US</h1>
		</div>
		<div class="jumbotron bg-bottom text-white text-center pt-lg-5">
            <div class="row">
              <div class="col">
              	<h2>Feedback</h2>
                <h5>Got some ideas or something nice to say to us?</h5>
                <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mr-lg-5 mt-lg-5" >Send us feedback</button>
              </div>
              <div class="col">
                <h2>Mailing list</h2>
                <h5>Join our mailing list to receive more information.</h5>
                <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mr-lg-5 mt-lg-5" >Subscribe</button>
              </div>
              <div class="col">
                <h2>Repository</h2>
                <h5>Do you want to fork EOS icons, contribute, or report an issue?</h5>

                	<div class="panel-footer row ">
                        <div class="col-xs-6 text-left">
                            <div class="previous">
                              <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mr-lg-5 mt-lg-4 " >Repository</button>
                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="next">
                              <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mr-lg-5 mt-lg-4 " >Report Issue</button>
                            </div>
                        </div>
                    </div>

              </div>
              <div class="col">
                <h2>Twitter</h2>
                <h5>Get the latest news, meet the team, and more</h5>
                <button type="button" class="btn btn-outline-light btn-lg ml-lg-5 mr-lg-5 mt-lg-5 " >EOS on twitter</button>
              </div>
            </div>
          </div>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>