input {
  border: 0;
  padding: 0 $m;
}

.input-group {
  display: flex;
  margin-bottom: $s;

  .input-group-element:first-child {
    background: $light-gray;
    border-radius: 10px;
    margin-top: $s;
    min-width: 275px;
    padding: $s $m;
  }

  button {
    margin-left: $l;
    margin-top: $s;
  }

  &-information {
    margin-right: $s;
    position: relative;

    button {
      background: $light-gray;
      border: 0;
      border-radius: 10px;
      color: $dark-gray;
      position: absolute;
      right: 0px;

      &:hover {
        color: $dark-gray;
      }
    }
  }
}
