.cookies-alert {
  background: $light-gray;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: $s 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1030;
  justify-content: space-between;

  .cookies-alert-body {
    margin: 0 $xxl; 
  }

  .cookies-alert-buttons {
    padding: $l 0;
    margin-right: $xxl;

    .btn {
      margin-right: $m;
    }
  }
}

.hide {
  display: none;
}
