.cookies-alert {
  background: $dark-color;
  bottom: 0;
  color: $light-color;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: $s 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1030;

  .cookies-alert-body {
    margin: 0 $xxl;

    a {
      color: $light-color;
      text-decoration: underline;
    }
  }

  .cookies-alert-buttons {
    margin-right: $xxl;
    padding: $l 0;

    a {
      border: 1px solid $light-color;
      color: $light-color;
      margin: 0 $m;
    }
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 1000px) {
  /* For tablets and mobile: */
  .cookies-alert {
    display: flex;
    flex-direction: column;
    max-height: 150px;
    position: absolute;
    top: 0;

    .cookies-alert-buttons {
      margin: 0 auto;
      text-align: center;

      a {
        border-color: $light-color;
        color: $light-color;
      }
    }
  }

  .hide {
    display: none;
  }
}
