.icons-picker-footer {
  color: $dark-gray;
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  width: 100%;

  .select-all-icons {
    cursor: pointer;
    display: block;
    float: left;
    margin: 15px 25px;

    i {
      padding-left: 6px;
      vertical-align: auto;
    }

    &:hover {
      color: $dark-color;
    }
  }

  .deselect-all-icons {
    cursor: pointer;
    display: block;
    float: left;
    margin: 15px 25px;

    i {
      padding-left: 3px;
      vertical-align: auto;
    }

    &:hover {
      color: $dark-color;
    }
  }

  .generate-div {
    display: block;
    float: right;
    margin-top: 10px;
    padding-bottom: 15px;

    span {
      display: inline;
      padding: 10px;
    }

    button {
      margin-right: $m;
      outline: none;
    }
  }

  &-upload {
    align-items: center;
    display: flex;

    p {
      margin-right: 10px;
    }

    .btn {
      border: 1px solid $dark-gray;
      color: $color;
      font-weight: bold;
      margin: 0 5px;
    }
  }
}
