.icons-list {
  @extend .flex;
  @extend .flex-wrap;
  margin-bottom: $xxxl;
  width: fit-content;

  .icon-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-body;
    font-weight: 300;
    padding: $m;
    width: 150px;

    .eos-icons,
    img {
      border: 2px solid $light-color;
      height: 32px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      width: 32px;

      &:hover {
        border: 2px solid $primary;
        cursor: pointer;
      }
    }

    .active {
      border: 2px solid $primary;
    }
  }
}

.total-icons {
  margin: 5px 0px 0px 40px;
}

h4.category {
  color: $primary;
  margin-top: $xxl;
  padding: $l $m;
  text-transform: capitalize;

  @media (max-width: $mobile-max) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }
}
