header {
  align-items: center;
  background: $white;
  border-bottom: 1px solid $light-gray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;

  .brand {
    align-items: center;
    color: $white;
    display: flex;

    @media (max-width: $mobile-max) {
      margin-left: $m;
    }

    .logo {
      margin-right: $m;
    }

    .brand-text {
      @media (max-width: $mobile-max) {
        display: none;
      }
    }
  }

  nav {
    font-size: $font-size;

    a,
    a:visited,
    a:hover {
      color: $black;
      font-weight: 300;
      margin-left: $l;
      padding: 0 $s;
      text-decoration: none;
    }

    a {
      i {
        display: none !important; // sass-lint:disable-line no-important
      }
    }

    .active {
      position: relative;

      &::after {
        background-color: $primary;
        bottom: -19px;
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;

        @media (max-width: $mobile-max) {
          bottom: -16px;
        }
      }
    }

    @media (max-width: $mobile-max) {
      background: $white;
      border-top: 1px solid $light-gray;
      bottom: 0;
      display: flex;
      height: 40px;
      justify-content: space-between;
      padding: $m 0;
      position: fixed;
      width: 100%;
      z-index: 1000;

      a {
        padding: auto $m;
        text-align: center;

        &:last-child {
          margin-right: $l;
        }

        i {
          color: $primary;
          display: block !important; // sass-lint:disable-line no-important
        }
      }
    }
  }

  .container {
    padding: $m 0;
  }

  .navigation {
    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
