.page-header {
  align-items: center;
  color: $light-color;
  display: flex;
  justify-content: center;
  padding: $xxxl;
  text-align: center;

  &-small {
    height: 10vh;
  }

  &-medium {
    height: 30vh;
  }

  &-orange {
    background: url('../../images/header.png') center, linear-gradient(90deg, #FBB369, #FF814A);
  }

  &-purple {
    background: url('../../images/header.png') center, linear-gradient(90deg, #694966, #5C415D);
  }
}
