$eos-select-padding: $xs + 1 $s $s $l;
$eos-select-bg-active: $light-color url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy40MSA3Ljg0TDEyIDEyLjQybDQuNTktNC41OEwxOCA5LjI1bC02IDYtNi02eiIvPjwvc3ZnPg==') no-repeat left center;
$eos-select-bg-size: 18px;
$eos-select-border-radius: 2px;
$eos-select-txt-color: $dark-color;
$eos-select-font: 14px;
$eos-multiple-select-border-radius: $xs - 2px;
// Option
$eos-select-option-font-weight: bold;
$eos-select-option-padding: $s;
$eos-form-element-color: $lighter-gray;
// Disabled
$eos-select-bg-disabled: $light-color url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI0I2QjRCNCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+PC9zdmc+') no-repeat left center;
