/* Navbar
   ========================================================================== */
.navbar-brand {
  font-size: $nav-font-size;

  .nav-item {
    font-size: $nav-item-font-size;
  }
}

/* Header
  ========================================================================== */

.header {
  background: $header-background;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.top-gradient {
  background: $nav-top-gradient;
}


/* Misc
  ========================================================================== */


/**
* Helpers & modifier rules go here
*/

.content {
  padding-top: 15rem;
  text-align: center;
}

.pull-right {
  float: right;
}

div.fixed-rectangle {
  background-color: #ffffff;
  height: 222px;
  width: 4px;
}

div.fixed-rectangle-inverse {
  background-color: #000000;
  height: 219px;
  width: 5px;
}

.bg-jumbotron {
  background-color: #F6F9FC;
}

.bg-cheatsheet {
  background-color: #4AC6C5;
}

.bg-request {
  background-color: #C776EF;
}

.wide-border {
  border-right: 5rem;
}

.plane-img {
  -webkit-transform: rotate(2deg);
  display: inline;
  height: auto;
  opacity: .55;
  position: absolute;
  right: 65px;
  top: -120px;
  transform: rotate(2deg);
  z-index: 0;
}

.plane-container {
  height: 12em;
  position: relative;
  overflow: hidden;
}

.left-padding {
  padding-left: 20%;
}

.plane-index {
  position: relative;
  z-index: 1;
}

.forward-index {
  z-index: 10;
}

/* Template styles and buttons
   ========================================================================== */
body {
  font-family: $font-family;
 }

.btn {
  border-radius: 30px 30px 30px 30px;
  border-width: 1.39px;
}


/* Footer
  ========================================================================== */

.footer {
  background: $footer-background;
  background-size: cover;
  height: auto;
  margin-bottom: 53px;
  max-width: 100%;
  padding-top: 20px;
}

/* bottom-links
   ========================================================================== */
/* Bottom-links variables
   ========================================================================== */
/* Landing page components: bottom-links
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/bottom-links/bottom-links.variables.scss */
.bottom-links-items {
  margin: 24px 0 16px 0;
  }

.bottom-links-items > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  }

.bottom-links-items > div .btn {
  align-self: center;
  margin-top: auto;
  }

.bottom-links-icon {
  height: 18px;
  margin-right: 8px;
  }

.btn-group-footer {
  display: flex;
  justify-content: space-between;
  }

@media screen and (max-width: 768px) {
  .btn-group-footer {
    display: flex;
    justify-content: center;
    }
  }

@media screen and (max-width: 1336px) {
  .btn-group-footer {
    justify-content: space-around;
    }
  }

.panel-footer {
  margin: 1;
}

.bg-bottom {
  background: none;
}

/* Responsive text and image
  ========================================================================== */
button.responsive-text,
h4.responsive-text {
  font-size: $h4-font-size;
}

@media screen and (max-width: 1480px) {
  button.responsive-text,
  h4.responsive-text {
    font-size: $h4-font-size-mid;
  }
}

@media screen and (max-width: 1310px) {
  button.responsive-text,
  h4.responsive-text {
    font-size: $h4-font-size-small;
  }
}

@media screen and (max-width: 1000px) {
  button.responsive-text,
  h4.responsive-text {
    font-size: $h4-font-size-large;
  }
}

img.responsive-image {
  height: 10em;
  padding-left: 48px;
}

@media screen and (max-width: 1480px) {
  img.responsive-image {
    height: 8em;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1310px) {
  img.responsive-image {
    height: 6em;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  img.responsive-image {
    height: 8em;
    padding-left: 32px;
  }
}

/* Icons item
  ========================================================================== */

.animated-image {
  left: 0;
  position: relative;
  top: 0;
}

.animated-icons {
  left: 80px;
  position: absolute;
  top: 60px;
}
