.docs {
  .toolbar {
    height: 40px;
  }

  .tabs {
    margin-top: -104px;

    .tab-list {
      top: 82px;
    }
  }

  .cta-installing {
    margin-top: 0.67em;
  }

  img {
    max-width: 619px;
  }

  .docs-header {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      width: 66%;
    }
  }
}
