.gray-bg {
  background-color: #f7f9fc;
}

.brands {
  height: 50px;
  padding: $xl;
}

.icons-set {
  padding: 0;
}

.icons-control {
  display: flex;
  padding-bottom: 50px;

  &-search {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 60%;

    i {
      color: $lightest-gray;
      position: absolute;
      top: 5px;
    }

    input.search-input {
      border-bottom: 1px solid $dark-gray;
      border-radius: 0;
      padding-left: 25px;
      width: 50%;
    }
  }

  &-dynamic {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  &-toggle {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;

    &-dynamic {
      display: flex;
      justify-content: space-between;
      margin-top: $xl;
      width: 100%;

      .category-filter  {
        margin-left: 0;
      }

      .icons-control-toggle {
        width: 100%;
      }
    }

    input.search-input,
    .icons-control-search {
      width: 100%;
   }
 }
}
