/* Bottom container
   ========================================================================== */
.bottom-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 10px;

  p {
    display: inline-block;
    margin: 0;
    padding: 10px;
  }
}
