.icons-picker-footer-para {
  color: $dark-black;
  display: inline;
	}

.icons-picker-footer-link {
  cursor: pointer;
}

.generate-btn-icons-picker {
  float: right;
}

.upload-config-span {
  color: $dark-red;
}
