.icons-picker-footer-para {
  color: $dark-black;
  display: inline;
	}

.icons-picker-footer-link {
  cursor: pointer;
}

.generate-btn-icons-picker {
  color: $dark-black;
  margin-left: 90%;
  padding: 10px 10px;
}

.upload-config-span {
  color: $dark-red;
}
