/* Icons item
   ========================================================================== */
.icons-item,
.icons-item i {
  cursor: pointer;
  text-align: center;
}

.icons-item {
  display: inline-block;
  margin-bottom: 3em;
  width: 200px;

  &:hover {
    color: $icons-item-hover-color;
  }

  i {
    font-size: $icons-item-font-size;
  }
}

.icons-item-selected {
  color: $icons-item-hover-color;
}

