.thankyou-page-container {
  margin-bottom: auto;
  margin-top: $thankyou-page-container-margin-top;
  padding: $thankyou-page-container-padding;
  text-align: center;

  img {
    width: $thankyou-page-container-img-width;
    }

	}
