extends ../layouts/default

block content
  // header ----------------------------------------------------------------------------------------
  .header.mb-lg-2
    .content.container.text-white.img-fluid(alt='img-responsive')
      h2
        | Free. Open source. Vector and pixel-perfect icons. The iconic font your product needs.
  .container
    section.mb-5.mt-5
      h2.font-weight-bold.mb-3.border-bottom
        | Installing EOS icons
      p
        | There are several options for you to use EOS icons in your product:
    section.mb-5
      h3.font-weight-bold.mb-3.border-bottom Installing with npm
      |
      p.command npm install eos-icons --save
      |
    section.mb-5
      h3.font-weight-bold.mb-3.mt-3.border-bottom With our CDN
      |
      p
        | For EOS set:
        a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css', target='_blank')  https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css
      p.command &ltlink rel="stylesheet" href="https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css"&gt
      p
      p
        | For Extended EOS set:
        a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css', target='_blank')  https://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css
      p.command &ltlink rel="stylesheet" href="ttps://cdn.jsdelivr.net/npm/eos-icons/dist/extended/css/eos-icons-extended.css"&gt
      p
      p.d-inline  import them in your
      p.command &lt;head&gt;
      |  tag as
      p.command link:css
      |  and paste the link.
      p
    section.mb-5.pb-2
      h3.font-weight-bold.mb-3.mt-3.border-bottom or Download EOS as a zip file
      p.d-inline To download the zip file of
      p.command /dist
      |  folder click
      a(href='https://gitlab.com/SUSE-UIUX/eos-icons/-/archive/master/eos-icons-master.zip?path=dist', target='_blank')  here
    section.mb-5.pb-2
      h2.font-weight-bold.mb-3.mt-3.border-bottom Using EOS icons in your projects
      |
      p
        | Just like in any other iconic font, you need to add the Fonts and CSS files in your project:
      |
      p.d-inline 1- Add the
      p.command eos-icons.css
      |  file available under the dist/css folder into your projects
      p.command &lt;head&gt;
      |  :
      p
      p
      p.command &lt;link rel=&quot;stylesheet&quot; href=&quot;assets/eos-icons.css&quot;&gt;
      p
      p.d-inline 2- Make sure the font files available in the
      p.command dist/fonts
      |  folder are placed under your
      p.command assets/fonts
      |  folder so the .css file can read them correctly.
      p
      p
        | 3- Use the icons in your html as follows:
      code.mb-3.codes &lt;i class=&quot;eos-icons&quot;&gt;LIGATURE_OF_THE_ICON&lt;/i&gt;
      p
        | Where the LIGATURE_OF_THE_ICON is the name of the icon. Use our online tool to see the icon&apos;s name:
        a(href='https://eos-icons.eosdesignsystem.com/', target='_blank')  https://eos-icons.eosdesignsystem.com/
        | .
    section.mb-5.pb-2
      h2.font-weight-bold.mb-3.border-bottom Using animated icons
      p
        | The animated EOS icons are built using CSS animations. To implement them you don&apos;t need ligatures but classes instead.
      p
        | For example:
      code.mb-3.codes
        | &lt;i class=&quot;eos-icons eos-icon-loading&quot;&gt;&lt;/i&gt;
      p
        | See the other animated icons classes in our
        a(href='https://eos-icons.eosdesignsystem.com/', target='_blank')  demo page
        | . Click on the icon you want to use to see the code snippet.
    section.mb-5.pb-2
      h2.font-weight-bold.mb-3.border-bottom EOS extended version with Material Design
      p
        | Since EOS icons are designed following the
        a(href='https://material.io/design/iconography/system-icons.html', target='_blank')  Material Design guidelines
        |  and made to work together with Material Icons, we decided to include an extended version of EOS icons for easy implementation.
      p.mb-4.mb-4.d-inline
        | With the extended version you only need to use 1 class for all icons (EOS and Material Design). To implement it, you need to grab the
      p.mb-4.command css/
      |  and
      p.command font/
      |  folders available at
      p.command dist/
      | extended, then add the
      p.command eos-icons-extended.css
      | under the
      p.command &lt;head&gt;
      |  of your project accordingly.
      p
      p
        | For more information about Material Design Icons, please refer to the
        a(href='https://github.com/google/material-design-icons', target='_blank')  original MD icons repository
        |  where you can find the corresponding licensing and documentation.
      h4.font-weight-bold Example of usage of the EOS extended
      code.mb-3.codes
        | &lt;!-- This is an EOS icon --&gt;
        br
        | &lt;i class=&quot;eos-icons&quot;&gt;action_chains&lt;/i&gt;
        br
        br
        | &lt;!-- This is a Material Design icon --&gt;
        br
        | &lt;i class=&quot;eos-icons&quot;&gt;bluetooth_disabled&lt;/i&gt;
    section.mb-5.pb-2
      h2.font-weight-bold.mb-3.border-bottom Our recommended sizes
      p
        | Both MD icons and EOS icons have been designed to work and look perfect at: 18px, 24px, 36px, and 48px. These are the recommended sizes for icons in all SUSE - DEVELOPMENT UIs.
      p
        | In order to be compliant, follow MD icons class names to size both MD icons and EOS icons:
      h4.font-weight-bold Implementation examples
      ul
        li
          h5.mb-3 Implementation example with MD icon
        |
        i.eos-icons.md-18.mr-3 face
        |
        i.eos-icons.md-24.mr-3 face
        |
        i.eos-icons.md-36.mr-3 face
        |
        i.eos-icons.md-48 face
        |
        code.mb-3.codes.mt-3
          | &lt;i class=&apos;material-icons md-18&apos;&gt;face&lt;/i&gt;
          br
          | &lt;i class=&apos;material-icons md-24&apos;&gt;face&lt;/i&gt;
          |
          br
          | &lt;i class=&apos;material-icons md-36&apos;&gt;face&lt;/i&gt;
          |
          br
          | &lt;i class=&apos;material-icons md-48&apos;&gt;face&lt;/i&gt;
        |
        li
          h5.mb-3 Implementation example with EOS icon
        |
        i.eos-icons.md-18.mr-3 miscellaneous
        |
        i.eos-icons.md-24.mr-3 miscellaneous
        |
        i.eos-icons.md-36.mr-3 miscellaneous
        |
        i.eos-icons.md-48 miscellaneous
        |
        code.mb-3.codes.mt-3
          | &lt;i class=&apos;eos-icons md-18&apos;&gt;miscellaneous&lt;/i&gt;
          br
          | &lt;i class=&apos;eos-icons md-24&apos;&gt;miscellaneous&lt;/i&gt;
          |
          br
          | &lt;i class=&apos;eos-icons md-36&apos;&gt;miscellaneous&lt;/i&gt;
          |
          br
          | &lt;i class=&apos;eos-icons md-48&apos;&gt;miscellaneous&lt;/i&gt;
        h5 SCSS code snippet
        code.mb-3.codes
          |	/* Rules for sizing the icon. */
          br
          |	.md-18 { font-size: $eos-md-18; }
          br
          |	.md-24 { font-size: $eos-md-24; }
          br
          |	.md-36 { font-size: $eos-md-36; }
          br
          |	.md-48 { font-size: $eos-md-48; }
          br
          br
          | /* size variables */
          br
          | $eos-md-18: 18px;
          br
          | $eos-md-24: 24px;
          br
          | $eos-md-36: 36px;
          br
          | $eos-md-48: 48px;
    section.mb-5.pb-2
      p.mb-3 EOS icons is open source. Go to our Gitlab repository to find out more :
        a(href='https://eos-icons.eosdesignsystem.com', target='_blank')  https://eos-icons.eosdesignsystem.com
