extends ../layouts/icons-picker-layout

block content
  // header ----------------------------------------------------------------------------------------
  .header
    .content.icons-container.text-white.img-fluid(alt='img-responsive')
      h2
        | Click on Icons to select them
      p To continue building an old font, upload #[i icons-config.json] 
      i.upload-file-hyperlink.link(data-toggle='modal', data-target='#myModal')  file here.
  // -----------------------------------------------------------------------------------------------
  ul#myTab.nav.nav-tabs.bg-jumbotron.pl-3.pr-3.pt-3.pb-2(role='tablist')
    li.nav-item
      a#profile-tab.nav-link.active(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Extended EOS Icons Set
    input.searchbar.curved(onkeyup='searchIcon()', type='text', name='search', placeholder='Search Icons...')
  #myTabContent.tab-content
    #profile.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='profile-tab')
      #extended-icons.js-extended-icons-list.pl-4.pr-4.pt-5
        .icons-item.icons-item-static-icons.js-extended-icons-item(onclick='addSelection(this)', data-name='action_chains')
          i.eos-icons.js-eos-icons
          br
          .js-eos-icon-name
    #icons-animated.pl-4.pr-4
      h3.pl-5.pr-4.pb-4.pt-3 Animated icons
      .icons-item(data-name='loading')
        i.eos-icons.eos-icon-loading
        br
        | loading
      .icons-item(data-name='installing')
        i#eos-icon-installing.eos-icons.eos-icon-installing.md-48
        br
        | installing
  #myModal.config-file-modal.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') &times
        .modal-body
          p
            | You can find the 
            span.upload-config-span
              i icons_config.json
            |  in the folder of your previous custom EOS font.
          input#configFile(type='file')
          button.btn.upload-btn(type='button', onclick='prevSelection()', data-dismiss='modal') Upload File
  // footer
  footer
    .container.icons-picker-footer
      h6.select-all-icons(onclick='selectAll()') Select all #[i.eos-icons select_all]
      h6.deselect-all-icons(onclick='deselectAll()') Deselect all #[i.eos-icons clear]
      .generate-div
        h6.js-icons-count 0 icons selected.
        button.btn.btn-default(type='submit', onclick='generate()') Generate font