extends ../layouts/icons-picker-layout

block content
  .container.icons-container
    h3 Click on Icons to select them
    p To continue building an old font, upload #[i icons-config.json] file 
      a#upload-file-hyperlink.link(data-toggle='modal', data-target='#myModal')  here.
    .extended-version-wrap
      input.searchbar(onkeyup='searchIcon()', type='text', name='search', placeholder='Search Icons...')
    #icons.js-icons-list
      .icons-item.js-icons-item(onclick='addSelection(this)', data-name='action_chains')
        i.eos-icons.js-eos-icons
        br
        .js-eos-icon-name
    #icons-animated
      h3 Animated icons
      .icons-item(data-name='loading')
        i.eos-icons.eos-icon-loading
        br
        | loading
      .icons-item(data-name='installing')
        i#eos-icon-installing.eos-icons.eos-icon-installing.md-48
        br
        | installing
  footer
    .container.icons-picker-footer
      h6.select-all-icons Select all #[i.eos-icons select_all]
      h6.deselect-all-icons Deselect all #[i.eos-icons clear]
      .generate-div
        h6 0 icons selected.
        button.btn.btn-default(type='submit', onclick='generate()') Generate font
  #myModal.config-file-modal.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') &times
        .modal-body
          p
            | You can find the 
            span.upload-config-span
              i icons_config.json
            |  in the folder of your previous custom EOS font.
          input#configFile(type='file')
          button.btn.upload-btn(type='button', onclick='prev_selection()', data-dismiss='modal') Upload File
        
          
