extends ../layouts/default

block content
  // header ----------------------------------------------------------------------------------------
  .header
    .content.container.text-white.img-fluid(alt='img-responsive')
      h2
        | Free. Open source. Vector and pixel-perfect icons. The iconic font your product needs.
  // -----------------------------------------------------------------------------------------------
  ul#myTab.nav.nav-tabs.bg-jumbotron.pl-3.pr-3.pt-3.pb-2(role='tablist')
    li.nav-item
      a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') EOS Icons Set
    li.nav-item
      a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Extended EOS Icons Set
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Icon Size
      .dropdown-menu
        a.dropdown-item.change-size(data-size='18') 18px
        a.dropdown-item.change-size(data-size='24') 24px
        a.dropdown-item.change-size(data-size='36') 36px
        a.dropdown-item.change-size(data-size='48') 48px
    input.searchbar.curved(onkeyup='searchIcon()', type='text', name='search', placeholder='Search Icons...')
  #myTabContent.tab-content
    #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
      a.download-eos-icons-button(href='http://slack.eosdesignsystem.com', target='_blank')
        img.download-icons-logo(src='./assets/images/landing/download-icons.png')
        strong
          small.download-icons-text
            | download-EOS-icons-set
      #icons.js-icons-list.pl-4.pr-4.pt-5
        .icons-item.js-icons-item(data-name='action_chains')
          i.eos-icons.js-eos-icons
          br
          .js-eos-icon-name
    #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
      a.download-extended-icons-button(href='http://slack.eosdesignsystem.com', target='_blank')
        img.download-icons-logo(src='./assets/images/landing/download-icons.png')
        strong
          small.download-icons-text
            | download-Extended-icons-set
      #extended-icons.js-extended-icons-list.pl-4.pr-4.pt-5
        .icons-item.js-extended-icons-item
          i.eos-icons.js-eos-icons
          br
          .js-eos-icon-name
    #icons-animated.pl-4.pr-4
      h3.pl-5.pr-4.pb-4.pt-3 Animated icons
      .icons-item(data-name='loading')
        i.eos-icons.eos-icon-loading
        br
        | loading
      .icons-item(data-name='installing')
        i#eos-icon-installing.eos-icons.eos-icon-installing.md-48
        br
        | installing
  .how-to-use.bg-jumbotron.forward-index
    .container
      h2.ml-3
        | How to use it:
        small#close-code-snippet.close-code-snippet.pull-right.mr-5 X Close
      .row
        .col-10
          input#copy3.how-to-use-code.curved.p-2
        .col-2
          a#copy1.btn.btn-lg.btn-dark.text-white.ml-5.pl-4.pr-4.pt-2.pb-2 Copy
  .how-to-use-animated.bg-jumbotron.forward-index
    .container
      h2.ml-3
        | How to use it:
        small#close-code-snippet-animated.close-code-snippet.pull-right.mr-5 X Close
      .row
        .col-10
          input#copy4.how-to-use-code.curved.p-2
        .col-2
          a#copy2.btn.btn-lg.btn-dark.text-white.ml-5.pl-4.pr-4.pt-2.pb-2 Copy
  // Icons Request ------------------------------------------------------------------------------------------------
  .bottom-container.bg-jumbotron
    p  Didn't find what you were looking for?
    div
      button.btn.btn-dark(data-toggle='modal', data-target='#exampleModalCenter') Request new icon
  // Modal
  #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Before you send a request, keep following in mind:
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') x
        .modal-body
          ul
            li EOS-Icons works with Material icons.
            li
              | EOS-Icons is made for products in cloud computing, software infrastructure,
              | provisioning, server management, etc.
            li
              | We won't accept icons other than technical fields like for a restaurant or
              | a dating app, it's not our market.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          a.btn.btn-dark(href='https://gitlab.com/SUSE-UIUX/eos-icons/issues/', target='_blank') Send Request
