extends ../layouts/default

block content
  // header ----------------------------------------------------------------------------------------
  .small-header
    .small-content.container.text-white.img-fluid(alt='img-responsive')
      h2
        | Cheatsheet: find the ligature of the icon you are looking for, plus, get an overview of all the available icons.
  // -----------------------------------------------------------------------------------------------
  ul#myTab.nav.nav-tabs.bg-jumbotron.pl-3.pr-3(role='tablist')
    li.nav-item
      a#home-tab.nav-link.active.mt-4(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') EOS Icons Set
    li.nav-item
      a#profile-tab.nav-link.mt-4(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Extended EOS Icons Set
    input.searchbar.curved.mt-3.mb-2(onkeyup='searchIcon()', type='text', name='search', placeholder='Search Icons...')
  #myTabContent.tab-content
    #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
      a.download-eos-icons-button(href='https://www.npmjs.com/package/eos-icons', target='_blank')
        img.download-icons-logo(src='./assets/images/landing/download-icons.png')
        strong
          small.download-icons-text
            | download-EOS-icons-set
      #icons.js-icons-list.pl-4.pr-4.pt-5
        .icons-item.js-icons-item.icons-item-static-icons(data-name='action_chains')
          i.eos-icons.js-eos-icons
          br
          .js-eos-icon-name
    #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
      a.download-extended-icons-button(href='https://www.npmjs.com/package/eos-icons', target='_blank')
        img.download-icons-logo(src='./assets/images/landing/download-icons.png')
        strong
          small.download-icons-text
            | download-Extended-icons-set
      #extended-icons.js-extended-icons-list.pl-4.pr-4.pt-5
        .icons-item.js-extended-icons-item
          i.eos-icons.js-eos-icons
          br
          .js-eos-icon-name
    .pl-4.pr-4
      h3.pl-5.pr-4.pb-4.pt-3 Animated icons
      .icons-item.js-animated-icon-info(data-name='loading', data-download-url='https://gitlab.com/SUSE-UIUX/eos-icons/raw/master/animated-svg/loading.svg?inline=false')
        img(src='./vendors/images/animated-svg/loading.svg', data-tags='loading, animated')
        br
        | loading
      .icons-item.js-animated-icon-info(data-name='installing', data-download-url='')
        img(src='./vendors/images/animated-svg/installing.svg', data-tags='installing, animated')
        br
        | installing
  .how-to-use.bg-jumbotron.forward-index
    .container
      h2.ml-3
        | How to use it:
        small#close-code-snippet.close-code-snippet.pull-right
          i.eos-icons.md-18
            | close
      .input-group.mb-3
        input#copy3.form-control.curved(readonly='readonly')
        .input-group-append
          button#copy1.btn.btn-dark.text-white(type='button')
            i.eos-icons.md-18
              | content_copy
            |  Copy
      .row
        b.ml-3
          | Tags:
        .tags
  .how-to-use-animated.bg-jumbotron.forward-index
    .container
      h2.ml-3
        | How to use it:
        small#close-code-snippet-animated.close-code-snippet.pull-right
          i.eos-icons.md-18
            | close
      .input-group.mb-3
        input#copy4.form-control.curved(readonly='readonly')
        .input-group-append
          a.js-download-animated-icon.btn.btn-dark.text-white(type='button', href='')
            i.eos-icons.md-18
              | file_download
            |  Download icon
  // Icons Request ------------------------------------------------------------------------------------------------
  .bottom-container.bg-jumbotron
    p  Didn't find what you were looking for?
    div
      button.btn.btn-dark(data-toggle='modal', data-target='#exampleModalCenter') Request new icon
  // Modal
  #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Before you send a request, keep following in mind:
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') x
        .modal-body
          ul
            li EOS-Icons works with Material icons.
            li
              | EOS-Icons is made for products in cloud computing, software infrastructure,
              | provisioning, server management, etc.
            li
              | We won't accept icons other than technical fields like for a restaurant or
              | a dating app, it's not our market.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          a.btn.btn-dark(href='https://gitlab.com/SUSE-UIUX/eos-icons/issues/', target='_blank') Send Request
