/* Inputs
   ========================================================================== */
input[type=text] {
  transition: width 0.15s ease-in-out;
  width: 130px;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  max-width: 200px;
  width: 200px;
}
