/* Misc
   ========================================================================== */
/**
*  Helpers & modifier rules go here
*/
.text-white {
  color: $text-white;
}

pre {
  background: $pre-background;
  padding: 16px;
}

.pull-right {
  float: right;
}
