/* Titles
   ========================================================================== */
h1,
footer {
  font-family: $font-family;
  font-weight: 300;
}

h1 {
  color: $h1-font-color;
  font-size: $h1-font-size;
  margin: 0;
}

h2 small {
  font-size: $h2-small-font-size;
}

h3 {
  text-align: center;
}
