<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EOS icons extended demo page</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="../vendors/dist/extended/css/eos-icons-extended.css">
  </head>
  <body>
    <header class='eos-logo-color-gradients'>
      <div class='container two-columns'>
        <h1>
          <img src='images/logo.png'/>
          <small class='version'>version 1.0.0</small>
        </h1>
        <div class='pull-right toolbar'>
          <span class='text-white'>Try different sizes: </span>
          <button class='change-size' data-size='18'>18px</button>
          <button class='change-size' data-size='24'>24px</button>
          <button class='change-size' data-size='36'>36px</button>
          <button class='change-size' data-size='48'>48px</button>
        </div>
      </div>
    </header>
    <div class='container icons-container'>
        <div class="extended-version-wrap">
            <a href="../index.html">EOS set</a>
            <input class="searchbar" onkeyup="searchIcon()" type="text" name="search" placeholder="Search Icons...">
        </div>
      <div id="icons" class="js-icons-list">
        <div class="icons-item js-icons-item" data-name="action_chains">
            <i class="eos-icons js-eos-icons"></i>
            <br>
            <div class="js-eos-icon-name"></div>
        </div>
      </div>
      <div id="icons-animated">

        <h3>Animated icons</h3>
        <div class="icons-item" data-name="loading">
          <i class="eos-icons eos-icon-loading"></i>
          <br/>
          loading
        </div>

        <div class="icons-item" data-name="installing">
          <i class="eos-icons eos-icon-installing md-48" id="eos-icon-installing"></i>
          <br>
          installing
        </div>

      </div>
    </div>

    <div id="how-to-use" class='how-to-use'>
      <div class='container'>
        <h2 class='text-white'>
          How to use it:
          <small id='close-code-snippet' class='close-code-snippet pull-right'>X Close</small>
        </h2>
        <pre><code>&lt;i class=&quot;eos-icons&quot;&gt;<span id="eos-icon-name">icon_name</span>&lt;/i&gt;</code></pre>
      </div>
    </div>

    <div id="how-to-use" class='how-to-use-animated'>
      <div class='container'>
        <h2 class='text-white'>
          How to use it:
          <small id='close-code-snippet-animated' class='close-code-snippet pull-right'>X Close</small>
        </h2>

        <div id='animatedIconDemo'></div>
      </div>
    </div>
    <div class="bottom-container">
        <p> Didn't find what you were looking for?</p>
      <div><a class="btn" href="https://gitlab.com/SUSE-UIUX/eos-icons/issues/" target="_blank">Request new icon</a></div>
    </div>
    <footer>
      <div class='container'>
        Download from gitlab at <a href="https://gitlab.com/SUSE-UIUX/eos-icons">EOS icons</a>.
        Thanks to <a href="https://github.com/sapegin/grunt-webfont">grunt-webfont</a>.
      </div>
    </footer>
    
    <script src="../vendors/js/jquery.min.js"></script>
     <script src="js/get-icons-extended.service.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
