$icons-picker-select-margin: 10px 25px;
$icons-picker-select-icon-padding: 6px;
$icons-picker-deselect-icon-padding: 3px;
$icons-picker-icons-count-padding: 10px;
$icons-picker-footer-padding-bottom: 15px;
$icons-picker-generate-button-padding: 8px;
$icons-picker-generate-button-border-radius: 20px;