.btn {
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &-default {
    color: white;
    border-color: white;

    &:hover {
      background-color: white;
      color: #343a40;
    }
  }

  &-primary {
    color: white;
    border-color: #343a40;
    background-color: #343a40;

    &:hover {
      background-color: black;
    }
  }
}
