.btn {
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &-default {
    color: #212529;
    border-color: #212529;
  }

  &-primary {
    color: white;
    border-color: #343a40;
    background-color: #343a40;
  }
}
