.contributor {
  padding: 0 10px;
  .contributors-img {
    border-radius: 100%;
    margin: 0 20px;
    width: 80px;
  }
  .text-dark {
    color: $dark-gray;
  }
  &:hover {
    color: $hyper-link-color;
    text-decoration: underline;
  }
}
