.icons-picker-footer {
  .select-all-icons {
    cursor: pointer;
    display: inline;
    margin: 10px 25px;
    i {
      padding-left: 6px;
      vertical-align: sub;
    }

    &:hover {
      color: $dark-color;
    }
  }

  .deselect-all-icons {
    cursor: pointer;
    display: inline;
    margin: 10px 25px;

    i {
      padding-left: 3px;
      vertical-align: sub;
    }

    &:hover {
      color: $dark-color;
    }
  }

  .generate-div {
    display: inline;
    padding-bottom: 15px;
    h6 {
      border-color: $dark-gray;
      display: inline;
      margin: auto;
      padding: 10px;
    }

    button {
      border-color: $dark-gray;
      border-radius: 20px;
      display: inline;
      margin: auto;
      padding: 8px;

      &:hover {
        background-color: $dark-gray;
        color: $light-color;
      }
    }
  }
}
