.code{
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  color: #505050;
  display: block;
  padding: 10px;
  white-space: pre-line;
}

.inline-p{
  display: inline!important;
}

.command{
  background-color: #fbe5e1;
  border-radius: 4px;
  color: #c0341d;
  display: inline;
  padding: 2px 4px;
}