header {
  display: flex;
  justify-content: space-between;
  padding: $m;
  background: linear-gradient(90deg, #FBB369, #FF814A);

  nav {
    font-size: 16px;
    /* Reset links decoration */
    a, a:hover, a:focus, a:active , a:visited {
      text-decoration: none;
    }

    a {
      color: rgba(255,255,255,.5);
      padding: 0 8px;
    }

    .active {
      color: #fff;
    }
  }
}