header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m;
  color: #fff;
  background: linear-gradient(90deg, #FBB369, #FF814A);

  .brand {
    display: flex;
    align-items: center;
    font-size: 2rem;

    .logo {
      width: 86px;
      margin-right: $m;
    }
  }

  nav {
    font-size: 16px;
    /* Reset links decoration */
    a, a:hover, a:focus, a:active , a:visited {
      text-decoration: none;
    }

    a {
      color: rgba(255,255,255,.5);
      padding: 0 8px;
    }

    .active {
      color: #fff;
    }
  }
}
