header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m;
  color: $light-color;
  position: sticky;
  top: 0;
  background: linear-gradient(90deg, #fbb369, #ff814a);

  .brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $light-color;

    .logo {
      width: 86px;
      margin-right: $m;
    }
  }

  nav {
    font-size: 16px;
    /* Reset links decoration */
    a,
    a:hover,
    a:focus,
    a:active,
    a:visited {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
      padding: 0 8px;
    }

    .active {
      color: $light-color;
    }
  }
}
