.page-header {
  padding: $xxxl;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
  }

  &-small {
    height: 10vh;
  }

  &-medium {
    height: 30vh;
  }

  &-orange {
    background: url('../../images/header.png') center, linear-gradient(90deg, #FBB369, #FF814A);
  }

  &-purple {
    background: url('../../images/header.png'), linear-gradient(90deg, #694966, #5C415D);
  }
}
