.searchBar {
  border: 1px solid $dark-gray;
  border-radius: 20px;
  min-height: 40px;
  outline: none;
  padding-left: 8px;
  transition: width .15s ease-in-out;
  width: 130px;

  &:focus {
    max-width: 200px;
    width: 200px;
  }
}
