.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
  &:hover {
    cursor: pointer;
  }
}

.tab-list-item {
  color: #0056b3;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  color: #495057;
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
