h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
img {
  vertical-align: middle;
  border-style: none;
  width: 170px;
}
p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.container {
  width: 100%;
  padding-right: $m;
  padding-left: $m;
  margin-right: auto;
  margin-left: auto;
}
.thankyou-page-container {
  margin-bottom: auto;
  margin-top: 100px;
  padding: $m;
  text-align: center;
}
