extends ../layouts/default

block content
  header.eos-logo-color-gradients
    .container.two-columns
      h1
        img(alt='EOS icons', src='assets/images/logo.png')
        small.version version 1.0.0
  .container.icons-container.thankyou-page-container
    h2 Thank you for using EOS!
    img(src='assets/images/eos-bunny.png', alt='EOS Bunny')
    p Download your font here
    button.btn.btn-outline-secondary(type='submit') EOS-custom-font.zip
