/* How to use
   ========================================================================== */
.how-to-use,
.how-to-use-animated {
  border: 1px solid black;
  bottom: 53px;
  position: fixed;
  width: 100%;
}

.close-code-snippet {
  cursor: pointer;
}

.curved {
	border-radius: 30px 30px 30px 30px;
	border-width: 1.39px;
}

#copy3,
#copy4 {
	width: 100%;
	background-color: $lightest-gray;
}
