/* How to use
   ========================================================================== */
.how-to-use,
.how-to-use-animated {
  background: $how-to-use-bg;
  bottom: 44px;
  position: fixed;
  width: 100%;
}

.close-code-snippet {
  cursor: pointer;
}
