/* Icons item
  ========================================================================== */

.icons-item,
.icons-item i {
  cursor: pointer;
  text-align: center;
}

.icons-item-static-icons {
  i {
    border-radius: $icons-item-border-radius;
    margin-bottom: $icons-item-margin-bottom;
    padding: $icons-item-padding $icons-item-padding;

    &:hover {
      box-shadow: $icons-item-box-shadow;
    }
  }
}

.icons-item {
  display: inline-block;
  flex-grow: 1;
  font-size: $font-size-xs;
  margin-bottom: 3em;
  width: 130px;

  i {
    font-size: $icons-item-font-size;
    user-select: none;
  }
}

.icons-item-selected i {
  background-color: $dark-gray;
  color: $icons-item-selected-color;
}
