/* Buttons
   ========================================================================== */
.btn {
  background: $button-bg;
  border: 1px solid $button-border;
  border-radius: 5px;
  color: $button-text-color;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.extended-version-wrap {
  display: flex;
  margin: 0 0 30px 60px;

  a {
    background: $button-bg;
    border: 1px solid $button-border;
    border-radius: 5px;
    color: $button-text-color;
    padding: 10px 14px;
    text-decoration: none;
  }
}
