/* size variables */
$eos-md-18: 18px;
$eos-md-24: 24px;
$eos-md-36: 36px;
$eos-md-48: 48px;

/* Rules for sizing the icon. */
.md-18 { font-size: $eos-md-18; }
.md-24 { font-size: $eos-md-24; }
.md-36 { font-size: $eos-md-36; }
.md-48 { font-size: $eos-md-48; }