input {
  border: 0;
  padding: 0 $m;
}

.input-group {
  display: flex;
  margin-bottom: $s;

  .input-group-element:first-child {
    border-radius: 25px 0 0 25px;
  }

  button:last-child {
    border-radius: 0 25px 25px 0;
  }

  .input-grow {
    flex-grow: 1;
  }
  }
