.icons-picker-footer-para {
  color: $dark-black;
  display: inline;
	}

.icons-picker-footer-link {
  cursor: pointer;
}

.icons-picker-footer-generate-button {
  float: right;
}

.upload-config-span {
  color: $dark-red;
}

.icons-count {
  display: inline;

}
