footer
  .container
    | Download from gitlab at 
    a(href='https://gitlab.com/SUSE-UIUX/eos-icons') EOS icons
    | .
    | Thanks to 
    a(href='https://github.com/sapegin/grunt-webfont') grunt-webfont
    | .
