header.eos-logo-color-gradients
  .container.two-columns
    h1
      img(alt='EOS icons', src='assets/images/logo.png')
      small.version version 2.0.0
    .pull-right.toolbar
      span.text-white Try different sizes: 
      button.change-size(type='button', data-size='18') 18px
      button.change-size(type='button', data-size='24') 24px
      button.change-size(type='button', data-size='36') 36px
      button.change-size(type='button', data-size='48') 48px
